{
  "parser": "babel-eslint",
  "env": {
        "browser": true
  },
  "extends": ["airbnb-base"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
      "react/jsx-uses-vars": [2],
      "indent": ["error", 4],
      "linebreak-style": "off",
      "no-var": "off",
      "prefer-template": "off",
      "comma-dangle": "off",
      "arrow-body-style": ["off", "never"],
      "object-curly-spacing": "off",
      "arrow-parens": ["off", "always"]
  }
}