:root {
    --color-grey: #eeeeee;
    --color-orange: #ff8800;
    --color-darkGrey: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

html, body, #app {
    height: 100%;
}

.configuratorWrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.progressWrapper {
    color: var(--color-darkGrey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em 0;
}

.progressLabel {
    margin-right: 2em;
}

progress {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: var(--color-grey);
    border-radius: 0;
    border: none;
}   

progress::-webkit-progress-bar {
  background-color: var(--color-grey);
}

progress::-webkit-progress-value {
  background-color: var(--color-orange);
}

progress::-moz-progress-bar {
  background-color: var(--color-orange);
}

.workarea {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: var(--color-grey);
    color: var(--color-darkGrey);
    text-align: center; 
    overflow: hidden;
}

.workareaInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 2em 1em;
    width: 100%;
}

.question {
    margin-bottom: 2em;
}

.answers {
    border: none;
    text-align: center; 
}

.answerWrapper {
    margin-bottom: 1em;
    text-align: right;
    padding-right: 49%;
}

input[type="radio"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    border: solid 3px var(--color-darkGrey);
    position: relative;
    vertical-align: middle;
    margin-left: 1em;
}

input[type="radio"]:checked {
    background-image: -webkit-radial-gradient(var(--color-orange) 0%, var(--color-orange) 40%, white 40%, white);
    background-image: radial-gradient(var(--color-orange) 0%, var(--color-orange) 40%, white 40%, white);
}

.answerWrapper {
    display: block;
}

.backWrapper {
    text-align: left;
}

.backBtn {
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    color: var(--color-darkGrey);
    font-size: 1rem;
}

.button-icon {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.button-icon svg {
    width: 100%;
    height: 100%;
}

.button-label {
    vertical-align: middle;
}
#arrow {
    fill: white;
}

.backBtn:hover #arrow {
    fill: var(--color-orange);
}