.workarea.answer {
    background-color: transparent;
}

.answer-text {
    margin-bottom: 1em;
}

.answer-recapAndImage {
    margin-bottom: 1em;
}

.recap {
    padding-right: 1em;
}

.image {
    padding-left: 1em;
}

.quotation-btn {
    margin-bottom: 2em;
}

@media (--large-viewport) {
    .answer-recapAndImage {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    
        & > * {
            width: 50%;
        }
    }
}