.workarea.answer {
    background-color: transparent;
}


.answer .title {
    color: black;
}

.answer-text {
    margin-bottom: 1em;
}

.answer-recapAndImage {
    margin-bottom: 1em;
}

.recap {
    padding-right: 1em;
}

.image {
    padding-left: 1em;
}

.answer-buttons {
    display: flex;
    justify-content: space-between;
}

.quotation-btn {
    margin-right: 4em;
}