.quotation-form {
    font-size: 80%;
    margin-top: 2em;
    color: black;
    margin-bottom: 1em;
}

.form-mandatory {
    text-align: right;
    margin-bottom: 0.5em;
}

.form-field {
    display: flex;
    margin-bottom: 1em;
    min-height: 2em;
    flex-direction: column;
}

.form-label {
    display: block;
    width: 100%;
    text-align: center;
    align-self: center;
}

.form-input {
    display: block;
    width: 100%;
    min-height: 3em;
    background-color: var(--color-grey);
}

.form-reason {
    background-color: transparent;
    text-align: left;

    & input {
        margin-right: 0.5em;
        vertical-align: middle;
    }

    & label {
        margin-right: 1.5em;
        vertical-align: middle;
    }
}

.form-reason-option {
    display: block;
    padding: 1em 0;
}

.form-msg {
    height: 8em;
}

.form-submit {
    float: right;
    margin-right: 5em;
    margin-top: 1em;
}

@media (--medium-viewport) {
    .form-field {
        flex-direction: row;
    }

    .form-label {
        display: inline-block;
        width: 30%;
        padding-right: 0.5em;        
        text-align: right;
        align-self: center;
    }

    .form-input {
        display: inline-block;
        width: 70%;
    }

}

@media (--large-viewport) {
    .form-reason-option {
        display: inline-block;
    }
}