:root {
    --color-grey: #eeeeee;
    --color-mediumGrey: #bbbbbb;
    --color-darkGrey: #808080;
    --color-darkestGrey: #3e3e3e;
    --color-orange: #ff8800;
  }

@custom-media --medium-viewport (min-width: 700px);
@custom-media --large-viewport (min-width: 1100px);