.recap-table td, .recap-table th\ {
    border: none;
}

.recap-head {
     background-color: var(--color-mediumGrey);
}

.recap-body tr:nth-child(even) {
    background-color: var(--color-grey);    
}