@import "variables.css";
@import "recap.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app, .appInner {
    min-height: 100vh;
}

.appInner {
    display: flex;
    flex-direction: column;
    font-family: museo-sans, sans-serif;
}

button {
    appearance: none;
    border: none;
}

fieldset {
    border: none;
}

.hide {
    display: none !important;
}

.header {
    background-color: #3D3D3D;
    text-align: center;
    height: 133px;
}

.logoWrapper {
    margin: 36px 0;
    display: inline-block;
}

.configuratorWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 2em;
    flex: 1;
    width: 100%;
}

.progressWrapper {
    color: var(--color-darkGrey);
    display: flex;
    padding: 2em 0;
}

.progressLabel {
    margin-right: 2em;
}

progress {
    appearance: none;
    flex: 1;
    background-color: var(--color-grey);
    border-radius: 0;
    border: none;
}   

progress::-webkit-progress-bar {
  background-color: var(--color-grey);
}

progress::-webkit-progress-value {
  background-color: var(--color-orange);
}

progress::-moz-progress-bar {
  background-color: var(--color-orange);
}

.workarea {
    flex: 1;
    padding: 2em 1em;
    background-color: var(--color-grey);
    color: var(--color-darkGrey);
    text-align: center; 
    position: relative;
    overflow: hidden;
}

.workarea.answer {
    background-color: transparent;
}

.slide {
    width: 100%;
    padding: 2em 1em;    
    transition: transform 0.5s;
}

.question {
    margin-bottom: 2em;
}

.answers {
    border: none;
    text-align: center; 
}

.answerWrapper {
    margin-bottom: 1em;
    text-align: right;
    padding-right: 49%;
}

input[type="radio"] {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    border: solid 3px var(--color-darkGrey);
    position: relative;
    vertical-align: middle;
    margin-left: 1em;
}

input[type="radio"]:checked {
    background-image: radial-gradient(var(--color-orange) 0%, var(--color-orange) 40%, white 40%, white);
}

.answerWrapper {
    display: block;
}

.backWrapper {
    text-align: left;
}

.backBtn {
    display: inline-block;
    appearance: none;
    background: transparent;
    border: none;
    color: var(--color-darkGrey);
    font-size: 1rem;
}

.button-icon {
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.button-icon svg {
    width: 100%;
    height: 100%;
}

.button-label {
    vertical-align: middle;
}
#arrow {
    fill: white;
}

.backBtn:hover #arrow {
    fill: var(--color-orange);
}

.slider-enter {
    position: absolute;
    width: calc(100% - 2em);
    transform: translatex(100%);
}

.slider-enter.slider-enter-active {
    transform: translateX(0);
}

.slider-leave {
    transition: transform 0.5s;     
}

.slider-leave.slider-leave-active {
      transform: translatex(-100%);
}

.back .slider-enter.slider-enter-active {
  transform: translateX(0);
}

.back .slider-enter {
    transform: translatex(-100%);
    z-index: 2;
}

.back .slider-leave.slider-leave-active {
      transform: translatex(100%);
}

.slide {
    overflow: hidden;
    padding: 0;
}

.accordion-enter {
  max-height: 0;
  transition: max-height 0.5s 0.5s;
}

.accordion-enter.accordion-enter-active {
  max-height: 1000px;
}

.accordion-leave {
  max-height: 1000px;
  transition: max-height 0.5s;
}

.accordion-leave.accordion-leave-active {
  max-height: 0;
}

.title {
    margin-bottom: 1em;
}

.answer .title {
    color: black;
}

.image {
    max-width: 100%;
}

.ctaBtn {
    text-transform: uppercase;
    padding: 0.5em 1em;
    background-color: var(--color-darkGrey);
    border-radius: 3px;
    color: var(--color-grey);
}

.ctaBtn:hover {
    background-color: var(--color-orange);
}

.quotation-field, .quotation-msg {
    display: block;
}

.quotation-msg {
    width: 100%;
    height: 3em;
}

.footer {
    background-color: #eee;
    text-align: center;
    height: 8em;
}

.backToSiteBtn {
    margin: 3em 0;
    display: inline-block;
    text-decoration: none;
}


/*Recap*/
.recap thead {
    background-color: var(--color-mediumGrey);
}

.recapAndImageWrapper {
    display: flex;
}