@import "partials/reset.css";
@import "partials/variables.css";
@import "partials/progress.css";
@import "partials/animations.css";
@import "partials/question.css";
@import "partials/answer.css";
@import "partials/backBtn.css";
@import "partials/recap.css";
@import "partials/form.css";
@import "partials/notification.css";
@import "partials/footer.css";

html {
    font-size: 16px;
}

html, body, #app, .appInner {
    min-height: 100vh;
}

.appInner {
    display: flex;
    flex-direction: column;
    font-family: museo-sans, sans-serif;
}

.hide {
    display: none !important;
}

.header {
    background-color: #3D3D3D;
    text-align: center;
    height: 133px;
    color: white;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 54px 0; 
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 2em;
    flex: 1;
    width: 100%;
}

.linkHome {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    height: 1.5em;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        margin-top: 0.3em;
        border-bottom: solid 1px currentColor;
        transition: width 0.5s;
    }

    &:hover::after {
        width: 100%;
    }
}

.workarea {
    flex: 1;
    background-color: var(--color-grey);
    color: var(--color-darkGrey);
    text-align: center; 
    position: relative;
    overflow: hidden;
}

.slide {
    padding: 2em 1em;
    width: 100%;
}

input[type="radio"] {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    border: solid 3px var(--color-darkGrey);
    position: relative;
    vertical-align: middle;
    margin-left: 1em;
}

input[type="radio"]:checked {
    background-image: radial-gradient(var(--color-orange) 0%, var(--color-orange) 40%, white 40%, white);
}

.title {
    font-size: 2.8rem;
    color: var(--color-darkestGrey);
    margin-bottom: 1em;
}

.subtitle {
    font-size: 1.8rem;    
    color: var(--color-darkestGrey);
    margin-top: -1.5em;
    margin-bottom: 1em;
}

.text {
    margin-bottom: 1em;
}

p.note {
    margin-top: 1em;
}

.image {
    max-width: 100%;
}

.ctaBtn {
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 1em 1.5em;
    background-color: var(--color-darkGrey);
    border-radius: 3px;
    color: var(--color-grey);
}

.ctaBtn:hover:not(:focus), .ctaBtn:active {
    background-color: var(--color-orange);
}

.ctaBtn--inverse {
    background-color: var(--color-orange);

    &:hover {
        background-color: var(--color-darkGrey);        
    }    
}

@media (--large-viewport) {
    .wrapper {
        max-width: 1000px;
    }
}